<%= render 'layouts/error_messages', model: f.object %>
<%= render 'books/index', books: @books %>
<h1>Books</h1>
	<% @books.each do |book| %>
	<p>Title</p>
	<span>
		<%= book.title %>
	</span>
	<p>Body</p>
	<span>
		<%= book.body %>
	</span>
	<% end %>

	<h2>New book</h2>
	<%=form_for(@book) do |f| %>
	<h4>title</h4>
	<%= f.text_field :title %>

	<h4>Body</h4>
	<%= f.text_area :body %>

	<h4><%= f.submit 'Create Book' %><h4>
	<% end %>