<%= flash[:todolist] %>
<h1>Books</h1>
	<table>
	<thead>
	<tr>
	<th>Title</th>
	<th>Body</th>
	</tr>
	</thead>
	<tbody>
	<% @lists.each do |list| %>
	<tr>
		<td><%= list.title %></td>
		<td><%= list.body %></td>
		<td><%= link_to "Show" , todolist_path(list.id) %></td>
		<td><%= link_to "Edit" , edit_todolist_path(list.id) %></td>
		<td><%= link_to "Destroy" , todolist_path(list.id) , method: :delete, "data-confirm" => "Are you sure?"  %></td>
	</tr>
		<% end %>
	</tbody>
	</table>

	<h2>New book</h2>
	 <%= form_for @list, url: todolists_path do |f| %>
	<h4>title</h4>
	<%= f.text_field :title %>

	<h4>Body</h4>
	<%= f.text_area :body %>

	<h4><%= f.submit 'Create Book' %><h4>
	<% end %>