<h1>Books</h1>
	<%= form_for(@list, url:"/todolists/#{@list.id}") do |f| %>
	<% @lists.each do |list| %>
	<p>Title</p>
	<span>
		<%=link_to list.title, todolist_path(list.id) %>
	</span>
	<p>Body</p>
	<span>
		<%=link_to list.body, todolist_path(list.id) %>
	</span>
	<% end %>

	<h2>New book</h2>

	<h4>title</h4>
	<%= f.text_field :title %>

	<h4>Body</h4>
	<%= f.text_area :body %>

	<h4><%= f.submit 'Create Book' %><h4>
	<% end %>